# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py~
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
media/
static/




# PyCharm
.idea/

# Environments
.env
venv/
ENV/
env/

# OS Files
.DS_Store
Thumbs.db